{% extends 'base.html.twig' %}

{% block title %}Registro de Oferta{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code {  padding: 2px 6px; }
    .ocultar {
      display: none ;
    }
</style>
<!-- Incluir la versi贸n reducida de quagga de un archivo local -->
<script src="quagga.min.js"></script>

<!-- O usa un CDN -->
<script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<div class="example-wrapper" style="background-color: rgb(255, 0, 0,0.0)">
<div class="e">
{% for message in app.flashes('exito') %}
      <div class="alert alert-success">
         {{message}}     
      </div>    
{% endfor %}

</div>

 <div class="row">
    <div class="col-sm-2">

    </div>    
    <div class="col-sm-8 tarjeta-body item-content " style="background-color: #FCFCFC; border-radius: 9px 9px 9px 9px;-moz-border-radius: 9px 9px 9px 9px; -webkit-border-radius: 9px 9px 9px 9px; border: 0px solid #000000; -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41); -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41); box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41);">
          <br>
          <h4 class="display-5">Registrar Oferta</h4>  
          <br>


    {{ form_start(formulario) }}
    <div class="row form-group" > 
        <div class="col-12 " style="color:red"> {{ form_errors(formulario) }} </div>
        <div class="col-sm-6  ">  
          <label for="exampleInputEmail1">C贸digo del producto</label>  
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="codigoProducto" placeholder="" aria-label="" aria-describedby="basic-addon1">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" type="button" onclick="buscarProduct()"></button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 form-group " > <label style="color:white" for="exampleInputEmail1">-</label>
          <a  id="btn" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal"  style="  ">|||| Leer c贸digo</a> </div>
        <div class="col-sm-12 form-group"> {{ form_row(formulario.producto,{ 'label' : 'Producto', 'attr' : { 'class' : 'form-control' }}) }}  </div>  
        <p style="">

          <button class="btn btn-warning ocultar" id="botonNuevo" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="display: none">
            Crear nuevo producto
          </button>
        </p>
        <div class="collapse" id="collapseExample" style=" border:  solid #FF4C1A 1px; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;">
         
                <iframe id="inlineFrameExample"
                    title="Inline Frame Example"
                    width="100%"
                    height="650"
                    src="{{path('app_producto_registro_new')}}" >
                </iframe>
         
        </div>
        <div class="col-sm-12 form-group" style="">
          <br>
          {{ form_row(formulario.comercio,{ 'label' : 'Comercio *', 'attr' : { 'class' : 'form-control' }}) }}
        </div>  
        <div class="col-sm-6 form-group "> {{ form_row(formulario.monto,{ 'label' : 'Monto *', 'attr' : { 'class' : 'form-control' }}) }}  </div> 
        <div class="col-sm-6 "> {{ form_row(formulario.stock,{ 'label' : 'Stock *', 'attr' : { 'class' : 'form-control' }}) }}  </div>  
        <div class="col-sm-6 form-group "> {{ form_row(formulario.descripcionOferta,{ 'label' : 'Descripci贸n *', 'attr' : { 'class' : 'form-control' }}) }}  </div> 
        <div class="col-sm-6 "> {{ form_row(formulario.tipoDescuento,{ 'label' : 'Tipo de descuento *', 'attr' : { 'class' : 'form-control' }}) }}  </div>
        <div class="col-sm-12 form-group" style="display: none">
          {{ form_row(formulario.motivoBaja,{ 'label' : 'Motivo de baja', 'attr' : { 'class' : 'form-control' }}) }}
        </div>  
        <br>         
        <div class="col-sm-6" align="center">
          <br>
        
        </div>
        <div class="col-sm-6" align="right">
          <br>
        <button type="submit" class="btn btn-danger">Guardar</button>
         
      </div>
    </div>
    {{ form_end(formulario) }}

    <br>
    </div>
</div>
</div>
</div>
<br>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="font-family: Arial, sans-serif; font-size: smaller; ">
    <div class="modal-content">
      <div class="modal-footer mbr-fonts-style" >
        <button type="button" id="cerrarModal" align="left" class="btn btn-link btn-sm" data-dismiss="modal">Cancelar</button>
        <button type="button" align="right" class="btn btn-warning btn-sm" onclick="setGtin()">Cargar c贸digo</button>
      </div>
      <div class="modal-body">
          <div id="scanner-container"></div>
          <input type="hidden" id="inputgtin" value="">
      </div>
    </div>
  </div>
</div>
    <!-- Incluir la biblioteca image-diff -->
    <script src="quagga.min.js"></script>
<!-- Modal -->
<div class="modal fade" id="exampleModalapi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="font-family: Arial, sans-serif;  ">
    <div class="modal-content" style="max-height: 180px; max-width: auto%;">
      <div class="modal-footer mbr-fonts-style" >
                <p><strong>驴Esta seguro que quiere buscar los datos para ese c贸digo de producto?</strong> <br>
                    Al presionar "Buscar producto" el sistema se conectar谩 con la API de Mercadolibre para obtener los  datos asociados al c贸digo de producto ingresado.
                </p>
        <button type="button" id="cerrarModalapi" align="left" class="btn btn-link btn-sm" data-dismiss="modal">Cancelar</button>
        <button type="button" align="right" class="btn btn-warning btn-sm" onclick="buscarApi()">Buscar producto</button>
      </div>
    </div>
  </div>
</div>

    <script>
        var _scannerIsRunning = false;

        function startScanner() {
            Quagga.init({
                inputStream: {
                    name: "Live",
                    type: "LiveStream",
                    target: document.querySelector('#scanner-container'),
                    constraints: {
                        width: 360,
                        height: 240,
                        facingMode: "environment"
                    },
                },
                decoder: {
                    readers: [
                        "code_128_reader",
                        "ean_reader",
                        "ean_8_reader",
                        "code_39_reader",
                        "code_39_vin_reader",
                        "codabar_reader",
                        "upc_reader",
                        "upc_e_reader",
                        "i2of5_reader"
                    ],
                    debug: {
                        showCanvas: true,
                        showPatches: true,
                        showFoundPatches: true,
                        showSkeleton: true,
                        showLabels: true,
                        showPatchLabels: true,
                        showRemainingPatchLabels: true,
                        boxFromPatches: {
                            showTransformed: true,
                            showTransformedBox: true,
                            showBB: true
                        }
                    }
                },

            }, function (err) {
                if (err) {
                    console.log(err);
                    return
                }

                console.log("Initialization finished. Ready to start");
                Quagga.start();

                // Establecer bandera en se est谩 ejecutando
                _scannerIsRunning = true;
            });

            Quagga.onProcessed(function (result) {
                var drawingCtx = Quagga.canvas.ctx.overlay,
                drawingCanvas = Quagga.canvas.dom.overlay;

                if (result) {
                    if (result.boxes) {
                        drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
                        result.boxes.filter(function (box) {
                            return box !== result.box;
                        }).forEach(function (box) {
                            Quagga.ImageDebug.drawPath(box, { x: 0, y: 1 }, drawingCtx, { color: "green", lineWidth: 2 });
                        });
                    }

                    if (result.box) {
                        Quagga.ImageDebug.drawPath(result.box, { x: 0, y: 1 }, drawingCtx, { color: "#00F", lineWidth: 2 });
                    }

                    if (result.codeResult && result.codeResult.code) {
                        Quagga.ImageDebug.drawPath(result.line, { x: 'x', y: 'y' }, drawingCtx, { color: 'red', lineWidth: 3 });
                    }
                }
            });


            Quagga.onDetected(function (result) {
              document.getElementById('inputgtin').value = result.codeResult.code;
              alert('El c贸digo ingresado es: '+result.codeResult.code );               
              console.log("Barcode detected and processed : [" + result.codeResult.code + "]", result);
            });
        }


        // Iniciar / detener el esc谩ner
        document.getElementById("btn").addEventListener("click", function () {
            if (_scannerIsRunning) {
                
            } else {
                startScanner();
            }
        }, false);

        function setGtin() {
            document.getElementById('codigoProducto').value = document.getElementById('inputgtin').value;
            document.getElementById("cerrarModal").click();
        }

        function buscarProduct() {
            var gtinfield = document.getElementById("codigoProducto").value;
            var selectProducto = document.getElementById("oferta_producto");
            if (gtinfield == '' ){ alert('Error: no ingres贸 ning煤n c贸digo del producto') }else{
                 var url = '{{ path("producto_json", {'gtin': 'gtindato'}) }}';
                 url = url.replace("gtindato", gtinfield);
                 $.getJSON(url , function(data) {
                      if (`${data}` == ''){
                        alert('Error: no se encontr贸 ning煤n producto con ese c贸digo. Podr谩 a帽adirlo apretando el bot贸n "Crear nuevo producto".')
                            var iframes = document.querySelector("iframe"); //te da los Iframes de la pagina
                            var iframeDocument = iframes.contentWindow.document;
                            codigo = document.getElementById('codigoProducto').value;
                            iframeDocument.getElementById('producto_gtin').value = codigo;
                            iframeDocument.getElementById('inputgtinx').value=codigo;
                            document.getElementById('botonNuevo').style.display = "inline";
                      }else{
                        var valueselect = '' ;
                        var optiontext = '';
                         for(var i=0;i<selectProducto.options.length;i++){ 
                             optiontext = selectProducto.options[i].text;
                             if ( optiontext.includes(gtinfield)){
                               valueselect = selectProducto.options[i].value;
                             }
                          }   
                          selectProducto.value= valueselect;
                      };

                 })
            }
        }

    </script>
{% endblock %}
