{% extends 'base.html.twig' %}

{% block title %}KePrecios{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code {  padding: 2px 6px; }
</style>

<div class="example-wrapper" style="background-color: rgb(255, 0, 0,0.0)">

<div class="e">
{% for flash_message in app.session.flashbag.get('exito') %}
    <div class="alert alert-success" style="; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border: 0px solid #000000; ">
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('fracaso') %}
    <div class="alert alert-danger" style="background-color: rgba(255, 0, 0 ,0.75); border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border: 0px solid #000000;">
        {{ flash_message }}
    </div>
{% endfor %}
</div>
<a href="javascript:history.back()" style="float: right"> Volver Atr谩s</a>
      <br>
 <div class="row">
    <div class="col-sm-1">

    </div>    
    <div class="col-sm-10 card tarjeta-body item-content display-7" style="background-color: white; border-radius: 9px 9px 9px 9px;-moz-border-radius: 9px 9px 9px 9px; -webkit-border-radius: 9px 9px 9px 9px; border: 0px solid #000000; -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41); -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41); box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41);">
          <br>
          <h4 class="display-5 card-header">Perfil de {{user.name}}</h4>  
          <br>
          <div class="row">
            <div class="col-sm-4">
                {% if user.image != null %}
                  {% set foto = 'uploads/images/usuarios/'~ user.image %}
                  {% set foto2 = absolute_url(asset(foto)) %}
                 <img src="{{foto2}}" alt="" style=" border-radius: 200px 200px 200px 200px; -moz-border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px; border: 0px solid #000000;" >
                 {% else %}   
                  <img src="assets/images/user-empty.png" alt="" style=" border-radius: 200px 200px 200px 200px; -moz-border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px; border: 0px solid #000000;" >
                {% endif %}
            </div>
            <div class="col-sm-8">
                <div class=" ">Nombre: <span style="color:grey">{{user.nombrePersona}}</span> </div>
                <div class=" ">Apellido: <span style="color:grey">{{user.apellidoPersona}}</span> </div>
                <div class=" ">Sexo: <span style="color:grey">{{user.sexo}}</span> </div>
                <div class=" ">Fecha de ingreso: <span style="color:grey">{% if user.fechaRegistro != null %}{{user.fechaRegistro | date("d-m-Y") }}{% endif %}</span> </div>
                <div class=" ">ltima conexi贸n: <span style="color:grey">{% if user.ultimaConexion != null %}{{user.ultimaConexion | date("d-m-Y h:i") }}hs{%else%}-{% endif %}</span> </div>
                <div class=" ">Estado: <span style="color:grey">{{user.estado}}</span> </div>
                <div class=" ">Puntos disponibles para canje: <span style="color:grey">{% if user.puntosColab == null %}0{%else%}{{user.puntosColab}}{%endif%}</span> </div>
                <div class=" ">Puntos de reputaci贸n: <span style="color:grey">{% if user.puntosRep == null %}0{%else%}{{user.puntosRep}}{%endif%}</span></div>
                <div class=" " style=" ">Nivel actual: </div>
                {% if user.puntosRep < 0  %}
                  <div class="row">
                    <div class="col-4">
                      <div style="position: relative; text-align: center;">
                          <img src="/assets/images/colaboracion/medalla_madera.png" alt="imagen nivel" class="image-with-hover-effect" style="width: 100%;">
                          <div style="font-size:120%;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;-webkit-text-stroke: 0.5px black;">
                              <b>Madera</b>
                          </div>
                      </div>
                    </div>
                    <div class="col-8 d-flex align-items-center" style="color:grey; margin-left:-15px;">Te faltan {{0-user.puntosRep}} puntos para subir a nivel Bronce</div>
                  </div>
                {% elseif user.puntosRep >=0 and user.puntosRep <= 5 %}
                  <div class="row">
                    <div class="col-4">
                      <div style="position: relative; text-align: center;">
                          <img src="/assets/images/colaboracion/medalla_bronce.png" alt="imagen nivel" class="image-with-hover-effect" style="width: 100%;">
                          <div style="font-size:120%;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;-webkit-text-stroke: 0.5px black;">
                              <b>Bronce</b>
                          </div>
                      </div>
                    </div>
                    <div class="col-8 d-flex align-items-center" style="color:grey; margin-left:-15px;">Te faltan {{6-user.puntosRep}} puntos para subir a nivel Plata</div>
                  </div>
                {% elseif user.puntosRep >= 6 and user.puntosRep <=9 %}
                  <div class="row">
                    <div class="col-4">
                      <div style="position: relative; text-align: center;">
                          <img src="/assets/images/colaboracion/medalla_plata.png" alt="imagen nivel" class="image-with-hover-effect" style="width: 100%;">
                          <div style="font-size:120%;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;-webkit-text-stroke: 0.5px black;">
                              <b>Plata</b>
                          </div>
                      </div>
                    </div>
                    <div class="col-8 d-flex align-items-center" style="color:grey; margin-left:-15px;">Te faltan {{10-user.puntosRep}} puntos para subir a nivel Oro</div>
                  </div>
                {% elseif user.puntosRep >= 10 %}
                  <div class="row">
                    <div class="col-4">
                      <div style="position: relative; text-align: center;">
                          <img src="/assets/images/colaboracion/medalla_oro.png" alt="imagen nivel" class="image-with-hover-effect" style="width: 100%;">
                          <div style="font-size:120%;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;-webkit-text-stroke: 0.5px black;">
                              <b>Oro</b>
                          </div>
                      </div>
                    </div>
                    <div class="col-8 d-flex align-items-center" style="color:grey; margin-left:-15px;">Nivel m谩ximo alcanzado</div>
                  </div>
                {% elseif user.puntosRep == null %}
                  <div class="row">
                    <div class="col-4">
                      <div style="position: relative; text-align: center;">
                          <img src="/assets/images/colaboracion/medalla_bronce.png" alt="imagen nivel" class="image-with-hover-effect" style="width: 100%;">
                          <div style="font-size:120%;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;-webkit-text-stroke: 0.5px black;">
                              <b>Bronce</b>
                          </div>
                      </div>
                    </div>
                    <div class="col-8 d-flex align-items-center" style="color:grey; margin-left:-15px;">Te faltan 6 puntos para subir de nivel (plata)</div>
                  </div>
                {% endif %}

            </div>
          </div>
    <br>
<br>   {% if app.user != null %}
          {% if app.user.name == user.name %}
           <div class="col-sm-12 mbr-fonts-style">
           {% set colaboraciones = user.colaboracions %}
           {% if colaboraciones != '' %}
                <div class="accordion" id="accordionExample4">

                  <div class="accordion-item">
                    <h2 class="accordion-header  display-5" id="headingTwo" >
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo" style="border: 1px solid #E85395; color: #E85395;border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;">
                       Mis Colaboraciones
                      </button>
                    </h2>
                    <div id="collapseTwo4" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample4">
                      <div class="row accordion-body">
                         <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Puntaje</th>
                                <th scope="col">Sujeto</th>
                                <th scope="col">Descripci贸n</th>
                              </tr>
                            </thead>
                            <tbody>
                             {% for colaboracion in colaboraciones %}
                              <tr>
                                <th style="width:15%" scope="row">{% if colaboracion.fecha != null %}{{colaboracion.fecha|date('Y-m-d')}}{% endif %}</th>
                                <td style="width:10%">{{colaboracion.tipo}}</td>
                                <td style="width:10%">{% if colaboracion.puntaje < 0 %}<span style="color: #CF2A26">{%else%}<span style="color: #2D7733">{%endif%}{{colaboracion.puntaje}}</span></td>
                                <td style="width:20%">
                                  <div style="">
                                  {% if colaboracion.oferta != null %}<a href="{{path('app_oferta_perfil',{ 'id': colaboracion.oferta.id })}}">{{colaboracion.oferta}}</a>{%endif%}
                                  {% if colaboracion.comercio != null %}<a href="{{path('app_comercio_perfil',{ 'id': colaboracion.comercio.id })}}">{{colaboracion.comercio}}</a>{%endif%}
                                  {% if colaboracion.producto != null %}<a href="{{path('app_producto_perfil',{ 'id': colaboracion.producto.id })}}">{{colaboracion.producto}}</a>{%endif%}
                                  {% if colaboracion.sujeto != null %}{{colaboracion.sujeto}}{%endif%}
                                  </div>
                                </td>
                                <td style="width:20%">{{colaboracion.descripcion}} {% if colaboracion.tipo == "voto" %}(voto {% if colaboracion.tipoVoto == 0%}positivo{%else%}negativo{%endif%}){%endif%}
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                      <br>

                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            
          
 
          {% endif %}
        {% endif %}
 {% if app.user != null %}
          {% if app.user.name == user.name %}
           {% set cupones = user.cupones %}
           {% if cupones != '' %}
                <div class="accordion" id="accordionExample5">

                  <div class="accordion-item">
                    <h2 class="accordion-header  display-5" id="headingTwo" >
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo" style="border: 1px solid #E85395; color: #E85395;border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;">
                       Mis Cupones de Descuento
                      </button>
                    </h2>
                    <div id="collapseTwo5" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample5">
                      <div class="row accordion-body">
                         <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">Nro</th>
                                <th scope="col">Vto</th>
                                <th scope="col">Voucher</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                             {% for cupon in cupones %}
                              <tr>
                                <th style="width:15%" scope="row">{{ cupon.id }}-{{ cupon.nroCupon}}-{{cupon.semilla}}</th>
                                <td style="width:10%">{% if cupon.fechaCreacion != null %}{{cupon.fechaCreacion|date('Y-m-d')}}{% endif %}</td>
                                <td style="width:20%">
                                  <div style="">
                                   {% if cupon.voucher != null %}<a href="{{path('app_voucher_perfil',{ 'id': cupon.voucher.id })}}">{{cupon.voucher}}</a>{%endif%}
                                  </div>
                                </td>
                                <td style="width:10%">{{cupon.estado}}
                                </td>
                                <td style="width:15%">
                                  <a href="{{path('app_validar_cupon', {'idcupon': cupon.id,'nrocupon': cupon.nroCupon,'semilla': cupon.semilla})}}" style="color:grey">Ver</a><br>
                                  <a href="{{path('app_pdf_cupon', {'idcupon': cupon.id,'nrocupon': cupon.nroCupon,'semilla': cupon.semilla})}}">Descargar Cup贸n</a>
                                  
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                      <br>

                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            
          
 
          {% endif %}
        {% endif %}
           {% set listas = user.listaCompras %}
           {% if listas != '' %}
                <div class="accordion" id="accordionExample0">

                  <div class="accordion-item">
                    <h2 class="accordion-header  display-5" id="headingTwo" >
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo0" aria-expanded="false" aria-controls="collapseTwo" style="border: 1px solid #E85395; color: #E85395;border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;">
                       Mis Listas de Compra
                      </button>
                    </h2>
                    <div id="collapseTwo0" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample0">
                      <div class="row accordion-body">
                         <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Fecha Creaci贸n</th>
                                <th scope="col">Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                             {% for lista in listas %}
                              <tr>
                                <th scope="row">{{lista.nombre}}</th>
                                <td>{% if lista.fechaCreacion != null %}{{lista.fechaCreacion|date('Y-m-d')}}{% endif %}</td>
                                <td>
                                  <a style="color: grey" href="{{path('app_lista_perfil',{ 'id': lista.id })}}" > Ver</a>
                                  &nbsp;
                                  <a style="" href="{{path('app_lista_editar',{ 'id': lista.id })}}" > Editar</a>
                                   <a style="color: black" href="{{path('app_lista_buscar',{ 'id': lista.id })}}" > Buscar</a>

                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                      <br>

                      </div>
                    </div>
                  </div>
                </div>
           {% endif %}
           {% set solicitudes = user.comercio %}
           {% if solicitudes != '' %}
                <div class="accordion" id="accordionExample">

                  <div class="accordion-item">
                    <h2 class="accordion-header  display-5" id="headingTwo" >
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo" style="border: 1px solid #E85395; color: #E85395;border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;">
                       Mis solicitudes de comercios
                      </button>
                    </h2>
                    <div id="collapseTwo1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="row accordion-body">
                         <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">Comercio</th>
                                <th scope="col">Direcci贸n</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Solicitud</th>
                                <th scope="col">Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                             {% for solicitud in solicitudes %}
                              <tr>
                                <th scope="row">{{solicitud.nombreComercio}}</th>
                                <td>{{solicitud.direccionComercio}} - {{solicitud.localidad.nombre}}</td>
                                <td>{% if solicitud.estadoComercio == 'ACTIVO' %}<span style="color: green">{% elseif solicitud.estadoComercio == 'PENDIENTE' %}<span style="color: grey">{% elseif solicitud.estadoComercio == 'BAJA' %}<span style="color: red">{% else %}<span style="color: grey">{% endif %}{{solicitud.estadoComercio}}</span></td>
                                <td>{% if solicitud.estadoComercio == 'ACTIVO' %}
                                      <span style="color: green">APROBADA</span>
                                      {% elseif solicitud.estadoComercio == 'PENDIENTE' %}
                                         {% if solicitud.motivoRechazo != NULL %}
                                           <span style="color: red">RECHAZADA </span><br> {{solicitud.motivoRechazo}}
                                           {% else %}
                                              <span style="color: grey">PENDIENTE</span>
                                         {% endif %}
                                        {% elseif solicitud.estadoComercio == 'BAJA' %}
                                            <span style="color: red">BAJA </span>
                                    {%endif%}
                                </td>
                                <td>
                                  <a style="color: grey" href="{{path('app_comercio_perfil',{ 'id': solicitud.id })}}" > Ver</a>
                                  {% if solicitud.estadoComercio == 'ACTIVO' %}
                                      
                                      {% elseif solicitud.estadoComercio == 'PENDIENTE' %}
                                           <a style="" href="{{path('app_comercio_editar',{ 'id': solicitud.id })}}" > Editar</a>
                                         
                                        {% elseif solicitud.estadoComercio == 'BAJA' %}
                                           
                                    {%endif%}
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                      <br>

                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
                {% set ofertas = user.ofertas %}
                {% if ofertas != '' %}
                <div class="accordion" id="accordionExample2">

                  <div class="accordion-item">
                    <h2 class="accordion-header  display-4" id="headingTwo" >
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo" style="border: 1px solid #E85395; color: #E85395;border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;">
                       Mis ofertas cargadas
                      </button>
                    </h2>
                    <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                      <div class="row accordion-body">
                          <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">Oferta</th>
                                <th scope="col">Fecha carga</th>
                                <th scope="col">Fecha update</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                              </tr>
                            </thead>
                            <tbody>
                             {% for oferta in ofertas %}
                              <tr>
                                <th scope="row">{{oferta.__toString}}</th>
                                <td>{% if oferta.fechaCarga != null %}{{oferta.fechaCarga|date('Y-m-d')}}{% endif %} </td>
                                <td>{% if oferta.fechaUpdate != null %}{{oferta.fechaUpdate|date('Y-m-d')}}{% endif %} </td>
                                <td>{% if oferta.estado == '1' %}
                                      <span style="color: green">ACTIVA</span>
                                           {% else %}
                                              <span style="color: red">INACTIVA</span>
                                    {% endif %}
             
                                </td>
                                <td>
                                  <a style="color: grey" href="{{path('app_oferta_perfil',{ 'id': oferta.id })}}" > Ver</a>
                                  <a style="" href="{{path('app_oferta_editar',{ 'id': oferta.id })}}" > Editar</a>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                      <br>  

                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% set productos = user.productos %}
                {% if productos != '' %}
                <div class="accordion" id="accordionExample3">

                  <div class="accordion-item">
                    <h2 class="accordion-header  display-4" id="headingTwo" >
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo3" aria-expanded="false" aria-controls="collapseTwo" style="border: 1px solid #E85395; color: #E85395;border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;">
                       Mis productos cargados
                      </button>
                    </h2>
                    <div id="collapseTwo3" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample3">
                      <div class="row accordion-body">
                        <table class="table">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">C贸digo</th>
                              <th scope="col">Producto</th>
                              <th scope="col">Marca</th>
                              <th scope="col">Estado</th>
                              <th scope="col">Acciones</th>
                            </tr>
                          </thead>
                          <tbody>
                           {% for producto in productos %}
                            <tr>
                              <th scope="row">{{producto.gtin}}</th>
                              <td>{{producto.descripcionProducto}}</td>
                              <td>{{producto.marcaProducto}}</td>
                              <td>{% if producto.estadoProducto == 1 %}<span style="color: green">ACTIVO{% else%}<span style="color: red"> BAJA{% endif %}</span>
                              </td>
                              <td> 
                                {% if producto.estadoProducto == 1 %}
                                <a style="color: grey" href="{{path('app_producto_perfil',{ 'id': producto.id })}}" > Ver</a>&nbsp
                                <a style="" href="{{path('app_producto_editar',{ 'id': producto.id })}}" > Editar</a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>   
                        <br>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                <br>
                </div>
</div> 
</div> 
</div>
        
        
{% endblock %}
