{% extends 'base.html.twig' %}

{% block title %}KePrecios{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code {  padding: 2px 6px; }
</style>

<div class="example-wrapper" style="background-color: rgb(255, 0, 0,0.0)">

<div class="e">
{% for message in app.flashes('exito') %}
      <div class="alert alert-success">
         {{message}}     
      </div>    
{% endfor %}

</div>
 <div class="row">
    <div class="col-sm-2">

    </div>    
    <div class="col-sm-8 card tarjeta-body item-content display-7" style="background-color: white; border-radius: 9px 9px 9px 9px;-moz-border-radius: 9px 9px 9px 9px; -webkit-border-radius: 9px 9px 9px 9px; border: 0px solid #000000; -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41); -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41); box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41);">
          <br>
          <h4 class="display-5 card-header">Perfil de {{user.name}}</h4>  
          <br>
          <div class="row">
            <div class="col-4">
                {% if user.image != null %}
                  {% set foto = 'uploads/images/usuarios/'~ user.image %}
                  {% set foto2 = absolute_url(asset(foto)) %}
                 <img src="{{foto2}}" alt="" style=" border-radius: 200px 200px 200px 200px; -moz-border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px; border: 0px solid #000000;" >
                 {% else %}   
                  <img src="assets/images/user-empty.png" alt="" style=" border-radius: 200px 200px 200px 200px; -moz-border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px; border: 0px solid #000000;" >
                {% endif %}
            </div>
            <div class="col-8">
                <div class=" ">Nombre: <span style="color:grey">{{user.nombrePersona}}</span> </div>
                <div class=" ">Apellido: <span style="color:grey">{{user.apellidoPersona}}</span> </div>
                <div class=" ">Sexo: <span style="color:grey">{{user.sexo}}</span> </div>
                <div class=" ">Fecha de ingreso: <span style="color:grey">{% if user.fechaRegistro != null %}{{user.fechaRegistro | date("d-m-Y") }}{% endif %}</span> </div>
                <div class=" ">Última conexión: <span style="color:grey">{% if user.ultimaConexion != null %}{{user.ultimaConexion | date("d-m-Y h:i") }}hs{% endif %}</span> </div>
                <div class=" ">Estado: <span style="color:grey">{{user.estado}}</span> </div>
            </div>
          </div>
    <br>
<br>   {% if app.user != null %}
          {% if app.user.name == user.name %}
          <h5>Mis Solicitudes</h5>
          {% set solicitudes = user.comercio %}
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Comercio</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Solicitud</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                 {% for solicitud in solicitudes %}
                  <tr>
                    <th scope="row">{{solicitud.nombreComercio}}</th>
                    <td>{{solicitud.direccionComercio}} - {{solicitud.localidad.nombre}}</td>
                    <td>{% if solicitud.estadoComercio == 'ACTIVO' %}<span style="color: green">{% elseif solicitud.estadoComercio == 'PENDIENTE' %}<span style="color: grey">{% elseif solicitud.estadoComercio == 'BAJA' %}<span style="color: red">{% else %}<span style="color: grey">{% endif %}{{solicitud.estadoComercio}}</span></td>
                    <td>{% if solicitud.estadoComercio == 'ACTIVO' %}
                          <span style="color: green">APROBADA</span>
                          {% elseif solicitud.estadoComercio == 'PENDIENTE' %}
                             {% if solicitud.motivoRechazo != NULL %}
                               <span style="color: red">RECHAZADA </span><br> {{solicitud.motivoRechazo}}
                               {% else %}
                                  <span style="color: grey">PENDIENTE</span>
                             {% endif %}
                            {% elseif solicitud.estadoComercio == 'BAJA' %}
                                <span style="color: red">BAJA </span>
                        {%endif%}
                    </td>
                    <td>{% if solicitud.estadoComercio == 'ACTIVO' %}
                          
                          {% elseif solicitud.estadoComercio == 'PENDIENTE' %}
                               <a style="" href="{{path('app_comercio_editar',{ 'id': solicitud.id })}}" > Editar</a>
                             
                            {% elseif solicitud.estadoComercio == 'BAJA' %}
                               
                        {%endif%}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          <br>
          <h5>Mis Ofertas cargadas</h5>
          {% set ofertas = user.ofertas %}
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Oferta</th>
                    <th scope="col">Fecha carga</th>
                    <th scope="col">Fecha update</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                 {% for oferta in ofertas %}
                  <tr>
                    <th scope="row">{{oferta.__toString}}</th>
                    <td>{% if oferta.fechaCarga != null %}{{oferta.fechaCarga|date('Y-m-d')}}{% endif %} </td>
                    <td>{% if oferta.fechaUpdate != null %}{{oferta.fechaUpdate|date('Y-m-d')}}{% endif %} </td>
                    <td>{% if oferta.estado == '1' %}
                          <span style="color: green">ACTIVA</span>
                               {% else %}
                                  <span style="color: red">INACTIVA</span>
                        {% endif %}
 
                    </td>
                    <td>
                      <a style="" href="{{path('app_oferta_editar',{ 'id': oferta.id })}}" > Editar</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          <br>        
          <h5>Mis Productos cargados</h5>
          {% set productos = user.productos %}
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                 {% for producto in productos %}
                  <tr>
                    <th scope="row">{{producto.gtin}}</th>
                    <td>{{producto.descripcionProducto}}</td>
                    <td>{{producto.marcaProducto}}</td>
                    <td>{% if producto.estadoProducto == 1 %}<span style="color: green">ACTIVO{% else%}<span style="color: red"> BAJA{% endif %}</span>
                    </td>
                    <td> 
                      {% if producto.estadoProducto == 1 %}
                      <a style="" href="{{path('app_producto_perfil',{ 'id': producto.id })}}" > Ver</a>&nbsp
                      <a style="" href="{{path('app_producto_editar',{ 'id': producto.id })}}" > Editar</a></td>
                      {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>       
          {% endif %}
        {% endif %}
</div>
</div>
</div>
        <br>
        
{% endblock %}
