{% extends 'base.html.twig' %}

{% block title %}Registro de Usuario{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code {  padding: 2px 6px; }
</style>

<div class="example-wrapper" style="background-color: rgb(255, 0, 0,0.0)">
<div class="e">
{% for message in app.flashes('exito') %}
      <div class="alert alert-success">
         {{message}}     
      </div>    
{% endfor %}

</div>

 <div class="row">
    <div class="col-sm-2">

    </div>    
    <div class="col-sm-8 tarjeta-body item-content " style="background-color: white; border-radius: 9px 9px 9px 9px;-moz-border-radius: 9px 9px 9px 9px; -webkit-border-radius: 9px 9px 9px 9px; border: 0px solid #000000; -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41); -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41); box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41);">
          <br>
          <h4 class="display-5">Registro de Usuario</h4>  
          <br>



    {{ form_start(formulario) }}
      <div class="row form-group" >

        
        <div class="col-12 " style="color:red"> {{ form_errors(formulario) }} </div>
        <div class="col-6 form-group "> {{ form_row(formulario.name,{ 'label' : 'Nombre de Usuario', 'attr' : { 'class' : 'form-control' }}) }}  </div>
        <div class="col-6 form-group "> {{ form_row(formulario.password,{ 'label' : 'Contraseña', 'attr' : { 'class' : 'form-control' }}) }}  </div>
        <div class="col-6 "> {{ form_row(formulario.email,{ 'label' : 'Correo electrónico', 'attr' : { 'class' : 'form-control' }}) }} </div>
        <div class="col-6 "></div>
        <div class="col-6 "> {{ form_row(formulario.nombrePersona,{ 'label' : 'Nombre', 'attr' : { 'class' : 'form-control' }}) }} </div>
        <div class="col-6 "> {{ form_row(formulario.apellidoPersona,{ 'label' : 'Apellido', 'attr' : { 'class' : 'form-control' }}) }} </div>
        <div class="col-6 "> {{ form_row(formulario.sexo,{ 'label' : 'Sexo', 'attr' : { 'class' : 'form-control' }}) }} </div>
        <div class="col-6 "> {{ form_row(formulario.fechaNacimiento,{ 'label' : 'Fecha de nacimiento', 'attr' : { 'class' : 'form-control ' }}) }} </div>
        <div class="col-6 "> {{ form_row(formulario.domicilio,{ 'label' : 'Domicilio', 'attr' : { 'class' : 'form-control' }}) }} </div>
        <div class="col-6 "> {{ form_row(formulario.localidadDomicilio,{ 'label' : 'Localidad', 'attr' : { 'class' : 'form-control' }}) }} </div>
        <div class="col-6 "> {{ form_row(formulario.codigoPostal,{ 'label' : 'Código Postal', 'attr' : { 'class' : 'form-control' }}) }} </div>
       <div class="col-6 "></div>
        <div class="col-6 "> {{ form_row(formulario.telefono, { 'label' : 'Teléfono', 'attr' : { 'class' : 'form-control' }}) }} </div>
        <div class="col-6 "> {{ form_row(formulario.telefonoAlternativo,{ 'label' : 'Teléfono alternativo', 'attr' : { 'class' : 'form-control' }}) }} </div>
        <div class="col-6 "> {{ form_row(formulario.imageFile,{ 'label' : 'Imagen de perfil', 'attr' : { 'class' : 'form-control' }}) }} </div> <div class="col-6 "></div>

        <br>          
        <div class="col-6" align="center">
          <br>
          <a class="" href="{{ path('app_inicio') }}">Cancelar</a>
        </div>
        <div class="col-6" align="right">
          <br>
            {{ form_row(formulario.registrarse,{ 'label' : 'Registrarse', 'attr' : { 'class' : 'btn btn-danger form-control' }}) }}
   
      </div>
    {{ form_end(formulario) }}
    <br>
    </div>
</div>
</div>
</div>
<br>
{% endblock %}
