{% extends 'base.html.twig' %}

{% block title %}KePrecios{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code {  padding: 2px 6px; }
</style>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<div class="example-wrapper" style="background-color: rgb(255, 0, 0,0.0)">

<div class="e">
{% for flash_message in app.session.flashbag.get('exito') %}
    <div class="alert alert-success" style="; border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border: 0px solid #000000; ">
        {{ flash_message|raw }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('fracaso') %}
    <div class="alert alert-danger" style="background-color: rgba(255, 0, 0 ,0.75); border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border: 0px solid #000000;">
        {{ flash_message|raw }}
    </div>
{% endfor %}

</div>
<a href="javascript:history.back()" style="float: right"> Volver Atrás</a>
      <br>
 <div class="row">
 
    <div class="col-sm-12 card tarjeta-body item-content display-7" style="background-color: white; border-radius: 9px 9px 9px 9px;-moz-border-radius: 9px 9px 9px 9px; -webkit-border-radius: 9px 9px 9px 9px; border: 0px solid #000000; -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41); -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41); box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41);">
          <br>
          <h4 class="display-5 card-header" align="center">{% if comercio.estadoComercio == 'PENDIENTE'%}<span style="color: grey">Solicitud para alta de: </span>{%endif%}{{comercio.nombreComercio}}</h4>  
          <br>
          <div class="row">
            <div class="col-sm-4">
                {% if comercio.image != null %}
                  {% set foto = 'uploads/images/comercios/'~ comercio.image %}
                  {% set foto2 = absolute_url(asset(foto)) %}
                 <img src="{{foto2}}" alt="" style=" border-radius: 7px 7px 7px 7px; -moz-border-radius: 7px 7px 7px 7px; -webkit-border-radius: 7px 7px 7px 7px; border: 0px solid #000000;" >
                 {% else %}   
                  <img src="assets/images/comercio-empty.png" alt="" style="border-radius: 7px 7px 7px 7px; -moz-border-radius: 7px 7px 7px 7px; -webkit-border-radius: 7px 7px 7px 7px; border: 0px solid #000000;" >
                {% endif %}
                <br>

            </div>
            <div class="col-sm-4">
                <div class=" ">Nombre: <span style="color:grey">{{comercio.nombreComercio}}</span> </div>
                <div class=" ">Descripción: <span style="color:grey">{{comercio.descripcionComercio}}</span> </div>
                <div class=" ">CUIT: <span style="color:grey">{{comercio.cuitComercio}}</span> </div>
                {% if comercio.sucursal == 1 %}
                <div class=" ">Es una sucursal: <span style="color:grey">Si</span></div>
                {% endif %}

                {% if comercio.url != null %}
                <div class=" ">Sitio web: <a href="{{comercio.url}}" target="_blank" style="color:grey">{{comercio.url}}</a> </div>
                {% endif %}
                {% if comercio.horaAperturaComercio != null %}
                <div class=" ">Hora de apertura: <span style="color:grey">{{comercio.horaAperturaComercio| date("h:i")}}hs</span></div>
                {% endif %}
                {% if comercio.horaCierreComercio != null %}
                <div class=" ">Hora de cierre: <span style="color:grey">{{comercio.horaCierreComercio| date("h:i")}}hs</span></div>
                {% endif %}
                <div class=" ">Teléfono: <span style="color:grey">{{comercio.telefonoComercio}}</span> </div>
                <div class=" ">Fecha de registro: <span style="color:grey">{% if comercio.fechaRegistroComercio != null %}{{comercio.fechaRegistroComercio | date("d-m-Y") }}{% endif %}</span> </div>
                <div class=" ">Estado: <span style="color:grey">{{comercio.estadoComercio}}</span> </div>

            </div>
            <div class="col-sm-4">
                {% if is_granted("ROLE_USER") %}
                  {% if (app.user.latitud != '') and (app.user.longitud != '') and (comercio.latitudComercio != '') and (comercio.longitudComercio != '') %}
                    <input id="usu_lati" name="usu_lati" value="{{app.user.latitud}}" type="hidden">
                    <input id="usu_longi" name="usu_longi" value="{{app.user.longitud}}" type="hidden">
                    <input id="com_lati" name="com_lati" value="{{comercio.latitudComercio}}" type="hidden">
                    <input id="com_longi" name="com_longi" value="{{comercio.longitudComercio}}" type="hidden">
                        <div class=" ">Distancia desde mi posición: <span style="color:grey">         <input id="inputdist" type="text" style="display: none">
                      <span id="mensaje"> </span></span> </div>
                  {% endif %}
                {% endif %}
                <div class=" " style="color:grey"><i class="ri-map-pin-line" style="color:black"></i> {{comercio.direccionComercio}} {% if comercio.localidad != null %}- {{comercio.localidad.nombre }}{% endif %}</div>
                {% if comercio.latitudComercio != null and comercio.longitudComercio != null %}
                  {% set lat = comercio.latitudComercio %}
                  {% set long = comercio.longitudComercio %}
                      <div style="width: 100%; -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.35); -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.35); box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.35);" ><iframe width="100%" height="190" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=250&amp;hl=es&amp;q={{lat}},{{long}}+(Keprecios)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/car-satnav-gps/">GPS devices</a></iframe></div>
                {% endif %}
                <br>
            </div>
            <div class="col-sm-4"></div>
            {% set confianza = comercio.confianza %}
            {% if comercio.confianza != null %}
                {% set conf= comercio.confianza.nombre %}
                {%else%}
                   {% set conf= 'intermedio' %}
            {%endif%}
            <div class="col-sm-8">
              {% if comercio.estadoComercio == 'PENDIENTE' %} 
                <div style="color: #828387"> *Ayudá a dar de alta este comercio, para ello deberá alcanzar el nivel de confianza "Alta". Si cae en "Muy baja", el comercio se dará de baja automáticamente.</div>
                <div class="bordebl">
                        <div class="titbordebl" style="width: 240px;">Confianza para alta de comercio</div>
                        <div class="row">
                            <div class="col-7 ">
                                
                                <table style="margin-top: -10px; margin-bottom: 10px; margin-left: 10px;">
                                    <tbody>
                                        <tr>
                                            <table style="margin: 0 auto; margin-bottom: 10px;">
                                                <tbody>
                                                    <tr>
                                                      {% if conf == "desconfianza" %}
                                                          <td id="celda-conf-1s" style="width: 4rem; overflow-y: visible; text-align: center; color: black">Muy baja</td>
                                                        {%else%}
                                                          <td id="celda-conf-1s" style="width: 4rem; overflow-y: visible; text-align: center; color: #828387">Muy baja</td>
                                                      {%endif%} 
                                                      {% if conf == "bajo" %}
                                                          <td id="celda-conf-2s" style="width: 4rem; overflow-y: visible; text-align: center; color: black">Baja</td>
                                                        {%else%}
                                                          <td id="celda-conf-2s" style="width: 4rem; overflow-y: visible; text-align: center; color: #828387">Baja</td>
                                                      {%endif%}
                                                          <td id="celda-conf-3s" style="width: 5px ;"></td>
                                                      {% if conf == "medio" %}
                                                          <td id="celda-conf-3s" style="width: 4rem; overflow-y: visible; text-align: center; color: black">Media</td>
                                                         {%else%}
                                                          <td id="celda-conf-3s" style="width: 4rem; overflow-y: visible; text-align: center; color: #828387">Media</td>
                                                      {%endif%}
                                                      {% if conf == "confiable" %}
                                                          <td id="celda-conf-4s" style="width: 4rem; overflow-y: visible; text-align: center; color: black">Alta</td>
                                                         {%else%}
                                                          <td id="celda-conf-4s" style="width: 4rem; overflow-y: visible; text-align: center; color: #828387">Alta</td>
                                                      {%endif%}
                                                    </tr>
                                                    <tr>
                                                        {% if conf == "desconfianza" %}
                                                           <td id="celda-conf-1" style="width: 4rem ;background-color: #EE1A29; border: 3px black solid;opacity:1;">  </td>
                                                          {%else%}
                                                           <td id="celda-conf-1" style="width: 4rem ;background-color: #EE1A29; border: 2px #828387 solid;opacity:0.25;">  </td>
                                                        {%endif%}
                                                        {% if conf == "bajo" %}      
                                                           <td id="celda-conf-2" style="width: 4rem ;background-color: #FF7F00; border: 3px black solid;opacity:1;">&nbsp;</td>
                                                          {%else%}
                                                           <td id="celda-conf-2" style="width: 4rem ;background-color: #FF7F00; border: 2px #828387 solid;opacity:0.25;">&nbsp;</td>
                                                        {%endif%}
                                                        {% if conf is not null and conf != "intermedio" %}
                                                           <td id="celda-conf-3" style="width: 0.5rem ;background-color: #FF7F00; border: 2px #828387 solid;opacity:0.25;"></td>
                                                          {%else%}
                                                           <td id="celda-conf-3" style="width: 0.5rem ;background-color: #FF7F00; border: 3px black solid;opacity:1;"></td>
                                                        {%endif%}
                                                        {% if conf == "medio" %}
                                                           <td id="celda-conf-4" style="width: 4rem ;background-color: #FF7F00; border: 3px black solid;opacity:1;">&nbsp;</td>
                                                          {%else%}
                                                           <td id="celda-conf-4" style="width: 4rem ;background-color: #FF7F00; border: 2px #828387 solid;opacity:0.25;">&nbsp;</td>
                                                        {%endif%}
                                                        {% if conf == "confiable" %}
                                                           <td id="celda-conf-5" style="width: 4rem ;background-color: #23B14D; border: 3px black solid;opacity:1;">&nbsp;</td>
                                                          {%else%}
                                                           <td id="celda-conf-5" style="width: 4rem ;background-color: #23B14D; border: 2px #828387 solid;opacity:0.25;">&nbsp;</td>
                                                        {%endif%}
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="margin-top: -12px;">
                                                  <tbody>
                                                    <tr>
                                                        <td style="width: 3rem; text-align: center;">&nbsp;</td>
                                                        <td style="width: 3rem; text-align: center; color: #828387">-3</td>
                                                        <td style="width: 2rem; text-align: center;">&nbsp;</td>
                                                        <td style="width: 2rem; text-align: center; color: #828387">0</td>
                                                        <td style="width: 2rem; text-align: center;">&nbsp;</td>
                                                        <td style="width: 2rem; text-align: center; color: #828387">5</td>
                                                        <td style="width: 4rem; text-align: center;">&nbsp;</td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>    
                            </div>
                            <div class="col-5">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="color: #2D76EA">{{votosp}}</td>
                                            <td>
                                                {% if app.user %}
                                                    <a id="modal-vp"  data-toggle="modal" data-target="#myModalVp" style=""><img class="manito" src="/assets/images/colaboracion/voto-positivo.png" style="width: 3rem"></a>
                                                {% else %}
                                                    <a id="modal-vp"  data-toggle="modal" data-target="#myModalLog" style=""><img class="manito" src="/assets/images/colaboracion/voto-positivo.png" style="width: 3rem"></a>
                                                {% endif %}
                                               
                                            </td>
                                            <td style="color: #2D76EA">Estoy de acuerdo con este comercio</td>
                                        </tr>
                                        <tr>
                                            <td style="color: #CF2A26">{{votosn}}</td>
                                            <td>
                                                {% if app.user %}
                                                    <a id="modal-vn" data-toggle="modal" data-target="#myModalVn" style=""><img class="manito" src="/assets/images/colaboracion/voto-negativo.png" style="width: 3rem"></a>
                                                {% else %}
                                                    <a id="modal-vn" data-toggle="modal" data-target="#myModalLog" style=""><img class="manito" src="/assets/images/colaboracion/voto-negativo.png" style="width: 3rem"></a>
                                                {% endif %}
                                            </td>
                                            <td style="color: #CF2A26">No estoy de acuerdo con este comercio</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>    
                        </div>
                    </div>
                {%endif%}
                {% if comercio.estadoComercio == 'ACTIVO' %} 
                    <div class="bordebl" >
                        <div class="titbordebl" style="width: 250px;" >¿Este comercio ya no esta disponible? </div>
                        <div class="row">
                            <div class="col-7 ">
                                <table style="margin-top: 5px; margin-bottom: 10px; margin-left: 10px;">
                                    <tbody>
                                        <tr>
                                            <td><div class="number" align="right">{{votosfin}}</div></td>
                                            <td>Votos registrados para informar la baja del comercio <span style="color: gray">({{5-votosfin}} restantes)</span></td>
                                        </tr>
                                    </tbody>
                                </table>    
                            </div>
                            <div class="col-5">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="color: #EE1B24">¿Solicitar baja del comercio?</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <center >
                                                {% if app.user %}
                                                    <div id="modal-fn" class="btn btn-secondary" style="background-image: url('/assets/images/colaboracion/yes.png'); margin-top: -1px; width: 75px; height: 1.4rem; " data-toggle="modal" data-target="#myModalFn" style="display:block;"></div>
                                                {% else %}
                                                    <div id="modal-fn" class="btn btn-secondary" style="background-image: url('/assets/images/colaboracion/yes.png'); margin-top: -1px; width: 75px; height: 1.4rem; " data-toggle="modal" data-target="#myModalLog" style="display:block;"></div>
                                                {% endif %}
                                                </center>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>    
                        </div>
                    </div>
                {%endif%}
            </div>
          </div>
    <br>
<br>
{%  if app.user != null %}
  {% set idUsu = app.user.id%}
{%else%}
  {% set idUsu = 'null'%}
{%endif%}
<!-- Modales para colaboración-->
<div class="modal fade" id="myModalVp">
  <div class="modal-dialog">
    <div class="modal-content">    
      <div class="modal-header">
        <button type="button" class="ml-auto" data-dismiss="modal" style="color: white; background-color: #EE1B24; border-radius: 255px; text-align:right" >&nbsp;X&nbsp;</button>
      </div>
      <div class="modal-body" style="vertical-align: middle; font-size: 150%;">
        <p>¿Esta seguro de que esta de acuerdo con este comercio?<br>
        <img class="manito" src="/assets/images/colaboracion/voto-positivo.png" style="width: 3rem"></p>

      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModal" align="left" class="btn btn-link btn-sm" data-dismiss="modal" style="font-size: 130%;">Cancelar</button>

        <a href="{{ path('app_voto_comercio', {'idcomercio': comercio.id, 'idusuario': idUsu, 'tipo': 'p'}) }}" class="btn btn-secondary btn-sm" style="font-size: 130%;">Confirmar voto</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModalVn">
  <div class="modal-dialog">
    <div class="modal-content">    
      <div class="modal-header">
        <button type="button" class="ml-auto" data-dismiss="modal" style="color: white; background-color: #EE1B24; border-radius: 255px; text-align:right" >&nbsp;X&nbsp;</button>
      </div>
      <div class="modal-body" style="vertical-align: middle; font-size: 150%;">
        <p>¿Esta seguro de que NO esta de acuerdo con este comercio?<br>
            <img class="manito" src="/assets/images/colaboracion/voto-negativo.png" style="width: 3rem"></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModal" align="left" class="btn btn-link btn-sm" data-dismiss="modal" style="font-size: 130%;">Cancelar</button>
        <a href="{{ path('app_voto_comercio', {'idcomercio': comercio.id, 'idusuario': idUsu, 'tipo': 'n'}) }}" class="btn btn-secondary btn-sm" style="font-size: 130%;">Confirmar voto</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModalFn">
  <div class="modal-dialog">
    <div class="modal-content">    
      <div class="modal-header">
        <button type="button" class="ml-auto" data-dismiss="modal" style="color: white; background-color: #EE1B24; border-radius: 255px; text-align:right" >&nbsp;X&nbsp;</button>
      </div>
      <div class="modal-body" style="vertical-align: middle; font-size: 150%;">
        <p>¿Esta seguro de que desea solicitar la baja del comercio?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModal" align="left" class="btn btn-link btn-sm" data-dismiss="modal" style="font-size: 130%;">Cancelar</button>
        <a href="{{ path('app_fin_comercio', {'idcomercio': comercio.id, 'idusuario': idUsu}) }}" class="btn btn-secondary btn-sm" style="font-size: 130%;">Confirmar</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModalLog">
  <div class="modal-dialog">
    <div class="modal-content">    
      <div class="modal-header">
        <button type="button" class="ml-auto" data-dismiss="modal" style="color: white; background-color: #EE1B24; border-radius: 255px; text-align:right" >&nbsp;X&nbsp;</button>
      </div>
      <div class="modal-body" style="vertical-align: middle; font-size: 150%;">
        <p>Debes iniciar sesión para poder votar.<br>
        ¡Ingresá ahora y ganá puntos por colaborar con KePrecios!</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModal" align="left" class="btn btn-link btn-sm" data-dismiss="modal" style="font-size: 130%;">Cancelar</button>
       <a href="{{path('app_login_user')}}" class="btn btn-secondary btn-sm" style="font-size: 130%;">Ingresar</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
        <br>
<script type="text/javascript">
  var usuLati= document.getElementById('usu_lati');
  var usuLongi= document.getElementById('usu_longi');
  var comLati= document.getElementById('com_lati');
  var comLongi= document.getElementById('com_longi');
  var mensaje=document.getElementById('mensaje');

  if(usuLati != null && usuLongi != null && comLati != null && comLongi != null ){
    var urldist = "{{ path('get_distance', {'latitudeFrom': 'ultdato','longitudeFrom': 'ulgdato','latitudeTo': 'cltdato','longitudeTo': 'clgdato'}) }}"; 

    urldist = urldist.replace("ultdato", usuLati.value); 
    urldist = urldist.replace("ulgdato", usuLongi.value); 
    urldist = urldist.replace("cltdato", comLati.value); 
    urldist = urldist.replace("clgdato", comLongi.value);

    $.getJSON(urldist , function(data) {      
       mensaje.textContent= data;
    })

    
  }

</script>        
{% endblock %}
