<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v5.6.8, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.8, mobirise.com">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="Home">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/l1.png" type="image/x-icon">
  <meta name="description" content=""> 
  <title>{% block title %}KePrecios!{% endblock %}</title>
  {% block stylesheets %}
	  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
	  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
	  <link rel="stylesheet" href="assets/parallax/jarallax.css">
	  <link rel="stylesheet" href="assets/animatecss/animate.css">
	  <link rel="stylesheet" href="assets/dropdown/css/style.css">
	  <link rel="stylesheet" href="assets/socicon/css/styles.css">
	  <link rel="stylesheet" href="assets/theme/css/style.css">
      <link rel="stylesheet" href="assets/theme/css/front.css">
	    <link href="assets/glightbox/css/glightbox.min.css" rel="stylesheet">
	  <link href="assets/remixicon/remixicon.css" rel="stylesheet">
	  <link href="assets/swiper/swiper-bundle.min.css" rel="stylesheet">
	   <link href="assets/aos/aos.css" rel="stylesheet">
	  <link rel="preload" href="https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400,900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
	  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400,900&display=swap"></noscript>
	  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
	  <link rel="stylesheet" href="assets/mobirise/css/styleskp.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  {% endblock %}

  
</head>
<body >
<div style=" background-image: url('assets/images/istockphoto-1257207144-2048x2048s-1-2000x1778.jpg'); ">
  <section data-bs-version="5.1" class="menu cid-s48OLK6784" once="menu" id="menu1-h">

    <nav class="navbar navbar-dropdown navbar-expand-lg navbar-fixed-top " style="background: rgb(232,83,149); background: linear-gradient(180deg, rgba(232,83,149,1) 0%, rgba(229,105,161,1) 50%, rgba(232,83,149,1) 100%);-webkit-box-shadow: 0px 9px 8px -6px rgba(0,0,0,0.27); -moz-box-shadow: 0px 9px 8px -6px rgba(0,0,0,0.27); box-shadow: 0px 9px 8px -6px rgba(0,0,0,0.27);">
        <div class="container row">
            <div class="input-group mb-0 col-12" >
                <span class="navbar-logo col-7" style="">
                    <a class="ampliar2" href="{{path('app_inicio')}}">
                        <img src="assets/images/KegiladaWhite2.png" alt="Mobirise Website Builder" style="" >
                    </a>
                </span>
                <span class="col-4 ">
                   {% if is_granted("ROLE_USER") %}
                      <div class="dropdown" style="position: absolute; right: -50px;">
                       
                        <button class="btn btn-sm btn-warning display-4  dropdown-toggle" style="border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; border: 0px solid #000000;background: rgb(255,83,35);background: rgb(255,83,35); background: linear-gradient(180deg, rgba(255,83,35,1) 0%, rgba(255,144,113,1) 50%);-webkit-text-stroke: 0.5px black;float-right; white-space: nowrap; height: 2rem " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {% if app.user.image != null %}
                            {% set foto = 'uploads/images/usuarios/'~ app.user.image %}
                            {% set foto2 = absolute_url(asset(foto)) %}
                           <img src="{{foto2}}" alt="" style="height:1.7rem; border-radius: 200px 200px 200px 200px; -moz-border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px; border: 0px solid #000000;" >
                           {% else %} 	
                         	  <img src="assets/images/user-empty.png" alt="" style="height:1.7rem; border-radius: 200px 200px 200px 200px; -moz-border-radius: 200px 200px 200px 200px; -webkit-border-radius: 200px 200px 200px 200px; border: 0px solid #000000;" >
                          {% endif %}
                          <span>&nbsp {{app.user.name}}</span>
                        </button>


                        <div class="dropdown-menu " style=" background-color: red" aria-labelledby="dropdownMenuButton">
                         {% if is_granted("ROLE_ADMIN")  %}	
                          <a class="dropdown-item text-white display-4" style=" background-color: #FF77B4" href="{{path('admin')}}">Administrar</a>
                         {%endif%} 
                          {% set iddato = app.user.id %}
                          <a class="dropdown-item text-white display-4" style=" background-color: #FF77B4" href="{{path('app_user_perfil',{ 'id': app.user.id })}}">Ver perfil</a>
                          <a class="dropdown-item text-white display-4" style=" background-color: #FF77B4" href="{{path('app_user_editar',{ 'id': app.user.id })}}">Modificar mis datos</a>
                          <a class="dropdown-item text-white display-4" style=" background-color: #FF77B4" href="{{path('app_logout')}}">Salir</a>
                        </div>
                      </div>
                    {% else %}
                      <a class="btn btn-sm btn-warning display-4 ml-auto" href="{{path('app_login_user')}}" style="border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; border: 0px solid #000000;background: rgb(255,83,35);background: rgb(255,83,35); background: linear-gradient(180deg, rgba(255,83,35,1) 0%, rgba(255,144,113,1) 50%);-webkit-text-stroke: 0.5px black;position: absolute; right: -50px">
                        Ingresar
                      </a>
                      <!-- Button trigger modal -->
                   {% endif %}

                </span>
                  <!--  
                  <a class="btn btn-warning display-4 d-block d-sm-none float-right col-4" style="border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; border: 0px solid #000000; background: rgb(255,83,35); background: linear-gradient(180deg, rgba(255,83,35,1) 0%, rgba(255,144,113,1) 50%);-webkit-text-stroke: 0.5px black;float-right" href="https://mobiri.se">Ingresar</a>    -->
                  <!-- Modal -->

                                    
            </div>
             <div class="input-group mb-0 col-12" style="background: rgb(232,83,149); background: linear-gradient(180deg, rgba(232,83,149,1) 0%, rgba(229,105,161,1) 50%, rgba(232,83,149,1) 100%);-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.22); -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.22); box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.22); border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; border: 0px solid #000000;border: 1px solid white;">
                        <input id="buscador" type="text" class="form-control " placeholder="Busca lo que necesites" aria-label=""  aria-describedby="" style=";" ><span class="ampliar"><a id="botonBuscar" class="btn display-4" style="color:white" > 🔎Buscar  </a></span>          
                        <form method="POST" action="{{path('app_buscar')}}" style="display: none">
                         <input id="buscadorx" type="text" class="form-control " name="_buscador" aria-label="" aria-describedby="" style="" >
                         <button id="actionBuscar" type="submit"></button>
                       </form>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="color:white;">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true" style="">
                      <li class="nav-item dropdown">
                        <a class="nav-link link dropdown-toggle text-white display-4" href="" data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Ofertas</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-814">
                          <a class="dropdown-item text-white display-4" style=" background-color: #FF77B4" href="{{path('app_oferta_registro')}}">Crear oferta</a>
                          <a class="text-white  dropdown-item display-4" style=" background-color: #FF77B4" onclick="buscar()">Buscar oferta</a>
                          <a class="text-white  dropdown-item display-4" style=" background-color: #FF77B4" href="{{path('app_producto_registro')}}">Registrar producto</a>
                        </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link link text-white dropdown-toggle display-4" href="" data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Comercios</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-304">
                          <a class="text-white show dropdown-item display-4" style=" background-color: #FF77B4" href="{{path('app_comercio_registro')}}">Solicitar comercio</a>
                          <a class="text-white dropdown-item display-4" style=" background-color: #FF77B4" href="{{path('app_comercios_potenciales')}}">Comercios potenciales</a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link link text-white show display-4" href="{{path('app_lista_compra')}}">Lista de Compras</a>
                      </li>
                    </ul>

                </div> 
          </div>

        </div>
    </nav>

</section>

{% if is_granted("ROLE_USER") %}
  <input id="usu_id" name="usu_id" value="{{app.user.id}}" type="hidden">
  <input id="usu_latitud" name="usu_latitud" value="{{app.user.latitud}}" type="hidden">
  <input id="usu_longitud" name="usu_longitud" value="{{app.user.longitud}}" type="hidden">
  {% else %}
    <input id="usu_id" name="usu_id" value="x" type="hidden">
    <input id="usu_latitud" name="usu_latitud" value="x" type="hidden">
    <input id="usu_longitud" name="usu_longitud" value="x" type="hidden">
{% endif %}
{% block body %}

{% endblock %}

<section data-bs-version="5.1" class="footer3 cid-t98wT94Tgp" once="footers" id="footer3-p">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">
                    
                    
                    
                    
                    
                <li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white" href="#" target="_blank">Sobre nosotros</a></li><li class="foot-menu-item mbr-fonts-style display-7"><a class="text-white" href="#" target="_blank">Contacto</a></li></ul>
            </div>
            <!--
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    
                    
                    
                    
                    
                    
                <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                        </a>
                    </div></div>
            </div>
             -->
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © KePrecios.com - Todos los derechos reservados.
                </p>
            </div>
        </div>
    </div>
</section>
</div>
<section class="display-7" style=" padding: 0;align-items: center;justify-content: center;flex-wrap: wrap;    align-content: center;display: flex;position: relative;height: 0rem;"><a href="https://mobiri.se/" style="flex: 1 1;height: 0rem;position: absolute;width: 100%;z-index: 1;"><img alt="" style="height: 0rem;" ></a><p style="margin: 0;text-align: center;" class=""> &#8204;</p><a style="z-index:1" href="https://mobirise.com/website-maker.html"></a></section>
        {% block javascripts %}
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/parallax/jarallax.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="background-color: #E85395; text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
   <script src="assets/aos/aos.js"></script>
  <script src="assets/glightbox/js/glightbox.min.js"></script>
  <script src="assets/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
{% endblock %}
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              ...
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
  </body>
 

<style>
.modal-content {

  max-height: 400px;
  overflow-y: auto;
}
</style>
<script>
var inputBuscar = document.getElementById("buscador");
var botonBuscar = document.getElementById("botonBuscar");
var inputAction = document.getElementById("buscadorx");
var actionBuscar = document.getElementById("actionBuscar");
botonBuscar.addEventListener("click",function() {
         inputAction.value = inputBuscar.value;
         actionBuscar.click();
});
function buscar() {
  inputAction.value = inputBuscar.value;
         botonBuscar.click();
}
    //document.getElementById("botonBuscar").submit();


const funcionInit = () => {
  var usuid = document.getElementById('usu_id');
  var usuLat = document.getElementById('usu_latitud');
  var usuLong = document.getElementById('usu_longitud');
  var xdlat = usuLat.value;
  var xdlong = usuLong.value;
  if (usuid.value != 'x'){
          if (!"geolocation" in navigator) {
            return alert("Tu navegador no soporta el acceso a la ubicación. Intenta con otro");
          }

          const onUbicacionConcedida = ubicacion => {
            //alert("Ubicación: "+ubicacion.coords.latitude+' '+ubicacion.coords.longitude);
            usuLat.value=ubicacion.coords.latitude;
            usuLong.value=ubicacion.coords.longitude;
            var urlpos = "{{ path('set_posicion', {'id': 'iddato','latitud': 'latituddato','longitud': 'longituddato'}) }}"; 
            urlpos = urlpos.replace("iddato", usuid.value); 
            urlpos = urlpos.replace("latituddato", usuLat.value); 
            urlpos = urlpos.replace("longituddato", usuLong.value); 
            $.getJSON(urlpos , function(data3) {
             
            });
            if( xdlat == '' && xdlong == '' ){
              location.reload();
            }
          }
          
          const onErrorDeUbicacion = err => {
            //alert("Error: "+err);
          }

          const opcionesDeSolicitud = {
            enableHighAccuracy: true, // Alta precisión
            maximumAge: 0, // No queremos caché
            timeout: 5000 // Esperar solo 5 segundos
          };
          // Solicitar
          navigator.geolocation.getCurrentPosition(onUbicacionConcedida, onErrorDeUbicacion, opcionesDeSolicitud);
  }
};
document.addEventListener("DOMContentLoaded", funcionInit);
 </script>
</html>